.wd-horizontal-line {
    border-bottom: 1px solid #c7cdd1;
  }
  
  .wd-card-style {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  }
  
  .wd-card-length {
    height: 146px;
    padding: 20px;
    border-radius: 5px 5px 0 0;
  }
  
  .wd-bg-color {
    background: rgb(67, 67, 144);
  }
  
  .wd-color {
    color: rgb(67, 67, 144);
  }
  
  .wd-color-col {
    color: white;
  }
  
  .wd-card-heading-fontsize {
    font-size: 14px;
    font-weight: bold;
  }
  
  .wd-card-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .wd-card-subheading-col {
    color: #454674;
  }
  
  .wd-card-subheading-fontfontsize {
    font-size: 16px;
  }
  
  .wd-card-small-fontsize {
    font-size: 12px;
  }
  .wd-color-yellow {
    color: #f1c40f;
  }
  .wd-cursor-pointer {
    cursor: pointer;
  }